<div ng-controller="SidebarCtrl">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
	<h2>Folders</h2>
		<ul class="sidebar-nav">
			<li class="sidebar-brand" ng-repeat="folder in folders">
				<span ng-click="switchFolder($index)" ng-class="{'selected': activeIndex == $index}">{{folder.name}}</span>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper" ng-controller="TilesCtrl">
		<div class="container-fluid">
			<div class="row">
					<div ng-repeat="tile in visibleTiles" class="tile">{{tile}}</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->